DirectoryIndex index.html
ErrorDocument 404 http://paz.world/

//Caching schema
<FilesMatch "\.(css|js|ico|png|jpg|jpeg)$">
Header set Cache-Control "public, max-age=482112000"
</FilesMatch>

//Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

//Prevent directory listings
Options All -Indexes

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.paz.world$
RewriteRule (.*) http://paz.world/$1 [R=301,L]
</IfModule>
