.logo {
  width: 270px;
  margin: 20px auto 40px;
}
.note {
  font-size: 18px;
  border: 5px dotted #ccc;
  padding: 10px 15px;
  text-align: center;
  margin: 20px 0;
}
.quote {
  width: 280px;
  margin: 10px auto;
}
