@media only screen and (min-device-width: 768px) {
  section {
    display: inline-block;
    width: 350px;
    vertical-align: top;
  }
  section:nth-of-type(2n) {
    margin-left: 38px;
  }
  .logo {
    margin-top: 30px;
  }
}
